<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Countries</title>
</head>
<body>
     <div class="card">
        <div class="card-header ">
            <h1>All Countries </h1>
            <form class="float-right" method="POST">
                {% csrf_token %}
                <input type="search" id="namesearch" name="namesearch">
                <button class="font-weight-bold" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Alphacode2</th>
                <th>Capital</th>
                <th>Population</th>
                <th>Timezone</th>
                <th>Flag</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in countries %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.alphacode2}}</td>
                    <td>{{i.capital}}</td>
                    <td>{{i.population}}</td>
                    <td>{{i.timezone}}</td>
                    <td><img src="{{i.flag}}" height="100" width="100"></td>
                    {% comment %} <td><a id="i" class="btn btn-borderd font-weight-bold  p-2 mt-4"  href="#" role="button" >Details</a></td> {% endcomment %}
                    <td>
                        <form method="get" action="{% url 'viewcountry' i.name %}">
                            <button class="font-weight-bold form-control p-2 mt-4" type="submit">Details</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock  %}